input{
    width: 100%;
    height: 30px;
    border:rgba(255, 255, 255, 0)
}

h5{
    margin: 1px;
}

#nameUser{
    background: white;
    padding: 1%;
}

#content{
    background-color: white;
    margin-top: 1%;
    padding: 4% 15%;
    align-content: center;
    text-align: center;

}

#form{
    background: rgb(194, 194, 194);
    padding: 3%;
}

.buttonContact{
    padding: 2%;
    margin: 2%;
    background: rgb(194, 194, 194);
    border: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: black;
}